@font-face {
	font-family: 'pacifica_condensedregular';
	src: url(../../assets/fonts/pacifica_condensed_regular-webfont.woff2) format('woff2'),
	url(../../assets/fonts/pacifica_condensed_regular-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}